footer {
background-image: url(../assets/footerbg.png);
background-size: cover;
font-size: 14px;
font-family: $raleway;
color: $white;
padding: 60px 0 80px 0;
}

footer h3 {
	color:$white;
}

.footerWrapper {
	display: flex;
}

.footerSocial, .footerMenu, .footerRight {
	width: 33.3%;
	padding: 10px;
}

.footerSocial {
	a{
		color: $orange;
		text-decoration: none;
	}
	i{
		color: $white;
		font-size: 20px;
		padding-right: 5px;
		transition:0.7s;
   	}
   	i:hover {
   		color:#808080;
   	}
}

.footerMenu {
	ul{
		padding-left: 0;
		li {
			list-style: none;
			padding-bottom: 5px;
		}
		li a {
			text-decoration: none;
			color: $orange;
			transition:1s;

		}
		li a:hover {
			color: $white;
		}
	}	
}

.footerRight {
	ul{
		padding-left: 0;
		li {
			list-style: none;
			
		}
	}
	p {
			color:$orange;
		}
}

@media (max-width: 480px) {
	.footerWrapper {
		flex-direction:column;
		.footerSocial,.footerMenu,.footerRight {
			margin: 0 auto;
			width: 100%;
			text-align: center;
		}
	}
}