// Taken from Giana on Codepen: http://codepen.io/giana/pen/yYBpVY/


//Colors
$cyan: #25C9F7;
$yellow: #FF9E40;
$orange: #F78C25;
$brown: #AA5A0D;
$blue: #0085AA;

// Basic styles
button {
  background: none;
  border: 0;
  box-shadow: inset 0 0 0 2px $brown; // Using inset box-shadow instead of border for sizing simplicity
  color: $yellow;
  font-size: inherit;
  font-weight: 700;
  margin: 1em;
  padding: 1em 2em;
  text-align: center;
  text-transform: capitalize;

  // Required, since we're setting absolute on pseudo-elements
  position: relative;
  vertical-align: middle;

  &::before,
  &::after {
    box-sizing: border-box;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
  }
}

.draw {
    transition: color 0.25s;

  &::before,
  &::after {
    border: 2px solid transparent; // Set border to invisible, so we don't see a 4px border on a 0x0 element before the transition starts
    width: 0;
    height: 0;
  }

  // This covers the top & right borders (expands right, then down)
  &::before {
    top: 0;
    left: 0;
  }

  // And this the bottom & left borders (expands left, then up)
  &::after {
    bottom: 0;
    right: 0;
  }

  &:hover {
    // color: $cyan;
  }

  // Hover styles
  &:hover::before,
  &:hover::after {
    width: 100%;
    height: 100%;
  }

  &:hover::before {
    border-top-color: $cyan; // Make borders visible
    border-right-color: $cyan;
    transition:
      width 0.1s ease-out, // Width expands first
      height 0.1s ease-out 0.1s; // And then height
  }

  &:hover::after {
    border-bottom-color: $cyan; // Make borders visible
    border-left-color: $cyan;
    transition:
      border-color 0s ease-out 0.2s, // Wait for ::before to finish before showing border
      width 0.1s ease-out 0.2s, // And then exanding width
      height 0.1s ease-out 0.3s; // And finally height
  }
}

// styles for buttons in the 'random show generator' page
.otherDraw {
    color: $cyan;
    box-shadow: inset 0 0 0 2px $cyan;
    transition: color 0.25s;

  &::before,
  &::after {
    border: 2px solid transparent; // Set border to invisible, so we don't see a 4px border on a 0x0 element before the transition starts
    width: 0;
    height: 0;
  }

  // This covers the top & right borders (expands right, then down)
  &::before {
    top: 0;
    left: 0;
  }

  // And this the bottom & left borders (expands left, then up)
  &::after {
    bottom: 0;
    right: 0;
  }

  &:hover {
    // color: $cyan;
  }

  // Hover styles
  &:hover::before,
  &:hover::after {
    width: 100%;
    height: 100%;
  }

  &:hover::before {
    border-top-color: $yellow; // Make borders visible
    border-right-color: $yellow;
    transition:
      width 0.1s ease-out, // Width expands first
      height 0.1s ease-out 0.1s; // And then height
  }

  &:hover::after {
    border-bottom-color: $yellow; // Make borders visible
    border-left-color: $yellow;
    transition:
      border-color 0s ease-out 0.2s, // Wait for ::before to finish before showing border
      width 0.1s ease-out 0.2s, // And then exanding width
      height 0.1s ease-out 0.3s; // And finally height
  }
}
